body {
  font-family: "Pretendard", sans-serif;
  @apply text-gray-22 dark:text-gray-ee transition-colors;
  @apply bg-white dark:bg-gray-22;
  @apply border-gray-22 dark:border-gray-ee;
}

input,
textarea {
  @apply dark:bg-white/10;
}

input::placeholder,
textarea::placeholder {
  @apply !text-gray-c8;
}

label {
  @apply dark:!text-gray-ee;
}

p {
  @apply dark:text-gray-c8;
}

*:focus {
  outline: none;
}

/* CUSTOM SCROLL BAR */
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}
