@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-btn {
    background: #fcc404;
    color: #222222;
  }
  .primary-btn:hover {
    background: rgba(252, 196, 4, 0.8);
  }
  .primary-btn:disabled {
    background: #c8c8c8;
  }

  .secondary-btn {
    background: #fbefbf;
    color: #222222;
  }
  .secondary-btn:hover {
    background: rgba(251, 239, 191, 0.8);
  }

  .profile-shadow {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
  }

  .image-shadow {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }

  .screen-100vh {
    height: calc(100vh - 70px);
  }

  /* CUSTOM SCROLL BAR */
  .custom-scrollbar::-webkit-scrollbar {
    width: 16px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 10px;
    background-clip: padding-box;
    border: 4px solid transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
  }

  .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #fcc404 94%, #0000) top/8px 8px
        no-repeat,
      conic-gradient(#0000 30%, #fcc404);
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 8px),
      #000 0
    );
    animation: l13 1s infinite linear;
  }
  @keyframes l13 {
    100% {
      transform: rotate(1turn);
    }
  }

  .profile {
    @apply bg-white/20 border border-gray-ee dark:border-gray-ee/50;
  }
}
